---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import ProjectCard from '../components/ProjectCard.astro'

const pageTitle = 'Home'

const projects = await getCollection('projects')
---

<BaseLayout pageTitle={pageTitle}>
	<div class="pb-12 md:pb-16 md:pt-8 lg:w-5/6 lg:pb-24 lg:pt-12 xl:w-4/6">
		<h2 class="font-polysans font-polysans text-4xl md:text-6xl">
			I'm Lars, a UI designer from Rotterdam, Netherlands.
		</h2>
		<div class="text-md pt-8 font-normal">
			<p>
				Designer with just shy of 10 years experience. Passionate about learning, design systems,
				data driven design, accessibility, and more.
			</p>
			<p>
				Currently improving the landside experience for our users at <a
					href="https://maersk.com/"
					class="decoration-3 font-semibold underline decoration-pink-500 underline-offset-2 opacity-100"
					>Maersk</a
				>.
			</p>
		</div>
	</div>
	<!-- Portfolio projects grid -->
	<section class="grid gap-6 md:grid-cols-2 lg:gap-8">
		{projects.map((p) => <ProjectCard project={p} />)}
	</section>
</BaseLayout>
