---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

const pageTitle = 'Home'
---

<BaseLayout pageTitle={pageTitle}>
	<div class="mx-auto pb-12 text-center md:pb-16 md:pt-8 lg:w-5/6 lg:pb-24 lg:pt-12 xl:w-4/6">
		<h2 class="text-4xl transition-all duration-500 ease-out md:text-6xl">Nothing to see here!</h2>
		<div class="text-md pt-8 font-normal">
			<p>Yet...</p>
		</div>
	</div>
</BaseLayout>
