---

---

<meta name="viewport" content="width=device-width, initial-scale=1" />
<body class="bg-stone-100">
	<div class="flex h-screen flex-col items-center justify-center px-4">
		<script
			src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
			type="module"></script><dotlottie-player
			src="https://lottie.host/770a80eb-3097-481f-b378-15155e9b5b37/jOk44P7Chx.json"
			background="transparent"
			speed="1"
			style="width: 400px; height: 400px"
			direction="1"
			playMode="normal"
			loop
			autoplay></dotlottie-player>
		<h2 class="text-center text-3xl transition-all duration-500 ease-out">
			Nothing to see here... Yet
		</h2>
		<div class="text-md pt-1 text-center font-normal">
			<p>Portfolios. A designer's biggest nemesis. I'm still hard at work on mine.</p>Meanwhile, I'm
			happy to show my work upon request.
		</div>
	</div>
</body>
