---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

const pageTitle = 'Home'
---

<body class="flex h-screen w-screen flex-row flex-wrap content-center justify-center">
	<div style="width: 300px">
		<script
			src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
			type="module"></script><dotlottie-player
			src="https://lottie.host/770a80eb-3097-481f-b378-15155e9b5b37/jOk44P7Chx.json"
			background="transparent"
			speed="1"
			style="width: 300px; height: 300px"
			direction="1"
			playMode="normal"
			loop
			autoplay></dotlottie-player>
		<h2 class="text-2xl transition-all duration-500 ease-out">Nothing to see here... Yet</h2>
		<div class="text-md pt-1 font-normal">
			<p>I'm still hard at work on my portfolio.</p>
		</div>
	</div>
</body>
