---

---

<p class="absolute bottom-6 w-full text-center text-xs opacity-25">
	Built as a learning project using <a
		href="https://tailwindcss.com/"
		class="underline underline-offset-2">Tailwind</a
	> and <a href="https://astro.build/" class="underline underline-offset-2">Astro</a>.
</p>
