---

---

<!-- <nav class="font-manrope text-right">
	<a href="/">Home</a>
	<a href="/about/">About</a>
</nav> -->
<nav class="font-manrope text-right">
	{
		[
			['Home', '/'],
			['About', '/about']
		].map(([title, url]) => (
			<a href={url} class="pl-2">
				{title}
			</a>
		))
	}
</nav>
