---

---

<header class="flex justify-between pb-12 font-manrope">
	<a href="#">Lars</a>
	<nav>
		{
			[
				['Home', '/'],
				['About', '/about']
			].map(([title, url]) => (
				<a href={url} class="pl-2">
					{title}
				</a>
			))
		}
	</nav>
</header>
