---

---

<section class="transition-a flex flex-col py-10 transition-all md:flex-row">
	<div class="text-4xl font-bold md:basis-1/2">
		<h2><slot name="left" /></h2>	
	</div>

	<div class="pt-4 md:basis-1/2 md:pt-0">
		<slot name="right" />
	</div>
</section>
