---

---

<section class="my-16 flex flex-col justify-between transition-all md:flex-row md:py-10 xl:px-16">
	<div class="text-4xl font-bold md:basis-1/2 md:pr-8 lg:basis-2/4">
		<h2><slot name="left" /></h2>
	</div>

	<div class="pt-4 md:basis-1/2 md:pl-8 md:pt-0 lg:basis-2/4">
		<slot name="right" />
	</div>
</section>
