---

---
<div class="
    prose

    prose-h1:font-bold prose-h1:text-xl

    prose-a:text-blue-600

    prose-p:text-justify

    prose-img:transition-all
    prose-img:duration-500
    prose-img:rounded-xl
    prose-img:shadow-md
    hover:prose-img:shadow-lg
    hover:prose-img:scale-105 

    prose-headings:underline
    ">
    <slot />
</div>
