---
import '../styles/global.css'
import Navigation from '../components/Navigation.astro'
import Head from '../components/Head.astro'
const { pageTitle } = Astro.props
---

<html lang="en">
	<Head pageTitle={pageTitle} />
<<<<<<< HEAD
	<body class="mx-auto max-w-[2160px] px-6 py-10 md:px-8 lg:px-12">
=======
	<body class="mx-auto px-5 py-10 lg:px-10 xl:px-20">
>>>>>>> c384dd813009e09487aca4eff15e52f5ef877ef9
		<Navigation />
		<slot />
	</body>
</html>
